header, body, footer {
  border: 0;
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

html {
  background-color: #eaeaec;
}

nav {
  background-color: #eaeaec;
}

.navigation {
  background-color: #eaeaec;
  padding: 1em;
  display: none;
  list-style-type: none;
  text-align: right;
  z-index: 10000;
  position: fixed;
  right: 0;
  background-color: #eaeaec;
  width: 50%;
  margin-top: -0.1em;
}

.navigation a {
  text-decoration: none;
  color: #ffcc85;
}

.container {
  position: fixed;
  top: 0;
  z-index: 100;
  /* display: inline-block; */
  /* display: block;s */
  cursor: pointer;
  right: 0;
  /* float: right; */
  padding: 0.8em 1em;
  background-color: #eaeaec;
}

.bar1, .bar2, .bar3 {
  width: 34px;
  height: 5px;
  background-color: #b2bac9;
  margin: 6px 0;
  transition: 0.4s;
}

.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  background-color: #b2bac9;
}

.change .bar2 {
  opacity: 0;
}

.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  background-color: #b2bac9;
}

#logo {
  padding: 0.5em;
}

.header {
  font-family: 'Julius Sans One', sans-serif;
  font-size: 40px;
  text-transform: uppercase;
}

.title {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.text {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 16px;
}

#content {
  margin: 1em;
}

#tilted-black {
  width: 90%;
  height: 90%;
  border: 2px solid black;
  -ms-transform: skewY(20deg);
  /* IE 9 */
  transform: skewY(5deg);
  position: absolute;
  z-index: -1000;
  /* margin:  ; */
  padding: 1em;
}

#tilted-white {
  width: 50%;
  height: 70%;
  border: 2px solid white;
  -ms-transform: skewY(20deg);
  /* IE 9 */
  transform: skewY(5deg);
  position: absolute;
  z-index: -1000;
  margin: auto;
}

#main {
  text-align: center;
  display: block;
  position: relative;
  margin-top: 14em;
  width: 100%;
  height: 70%;
  left: 0;
  top: 0;
}

#main>a {
  text-align: center;
  border: 2px solid #181a18;
  width: 100%;
  padding: 1em 0.2em;
  border-radius: 30px;
  display: block;
  margin: 0 auto;
  margin-top: 1em;
}

.ca3-scroll-down-link {
  cursor: pointer;
  position: absolute;
  display: block;
  bottom: 5em;
  z-index: 100;
  text-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
  -webkit-animatioxn: ca3_fade_move_down 2s ease-in-out infinite;
  -moz-animation: ca3_fade_move_down 2s ease-in-out infinite;
  animation: ca3_fade_move_down 2s ease-in-out infinite;
}

/*animated scroll arrow animation*/

@-webkit-keyframes ca3_fade_move_down {
  0% {
    -webkit-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(0, 20px);
    opacity: 0;
  }
}

@-moz-keyframes ca3_fade_move_down {
  0% {
    -moz-transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -moz-transform: translate(0, 20px);
    opacity: 0;
  }
}

@keyframes ca3_fade_move_down {
  0% {
    transform: translate(0, -20px);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translate(0, 20px);
    opacity: 0;
  }
}

/* about me section */

.skill-box>h3 {
  margin-bottom: 15px;
  color: #333;
}

.skill-box>.skills-circle>ul {
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.skill-box>.skills-circle>ul>li {
  width: 150px;
  height: 150px;
  background-color: #ddd;
  border-radius: 50%;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 10px;
}

.skill-box>.skills-circle>ul>li>span {
  color: #04b3d5;
}

.skill-box>.skills-circle>ul>li>span.text, .skill-box>.skills-circle>ul>li>span~b {
  top: 50%;
  left: 50%;
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  margin-top: -8px;
  z-index: 1;
}

.skill-box>.skills-circle>ul>li>span.text~b, .skill-box>.skills-circle>ul>li>span~b~b {
  font-weight: normal;
  margin-top: 2em;
}

.skill-box>.skills-circle>ul>li>span.bar-circle-right, .skill-box>.skills-circle>ul>li>span.bar-circle-left {
  border-radius: 50%;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: #04b3d5;
  clip: rect(0, 75px, 150px, 0);
}

.skill-box>.skills-circle>ul>li>span.bar-circle-left {
  background: #ddd;
}

.skill-box>.skills-circle>ul>li>span.bar-circle-cover {
  display: block;
  width: 95%;
  height: 95%;
  border-radius: 50%;
  background-color: #eee;
  z-index: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.school {
  display: block;
  width: 60%;
  float: left;
  clear: both;
  margin-bottom: 1em;
}

.year {
  display: block;
  width: 40%;
  float: right;
  text-align: right;
  margin-bottom: 1em;
}

.aboutmeOneSection {
  display: block;
  float: left;
  clear: both;
  margin-bottom: 0.5em;
}

.interestIcon {
  display: block;
  width: 20%;
  float: left;
  clear: both;
  margin-bottom: 0.5em;
  padding: 0.5em 0.5em 0 0.5em;
  margin-top: 0.5em;
}

.interestHeader {
  margin-top: 0.5em;
  display: block;
  width: 70%;
  float: right;
  text-align: left;
  margin-bottom: 0.5em;
  font-weight: bold;
}

.interest {
  display: block;
  width: 70%;
  float: right;
  text-align: left;
  margin-bottom: 0.5em;
}

/* portfolio */

.videosTitle {
  margin-top: 0.5em;
  display: block;
  margin-bottom: 0.5em;
  font-weight: bold;
  clear: both;
}

.videosDesc {
  margin-top: 0.5em;
  display: block;
  margin-bottom: 1.5em;
}